/* Bagian Beranda */
.form-inline .btn:hover {
  background-color: #ffffff;
}

.navbar .navbar-brand:hover {
  color: #fcb900;
}

.navbar .navbar-nav .nav-link:hover {
  color: yellow;
  border-bottom: 2px solid #ffffff;
}

hr {
  border: 1px solid gray;
}

.form-inline .btn a:hover {
  text-decoration: none;
}

/* Bagian fakultas1 */
.navbar .logo1 {
  color: gray;
}

.navbar .logo1:hover {
  color: blue;
}

.navbar-nav .nav-item .bortom1:hover {
  border-bottom: 2px solid blue;
}

.form-inline .login1:hover {
  background-color: blue;
}

.jumbotron .prodi1:hover {
  background-color: blue;
}

.card-body .prodi1:hover {
  background-color: blue;
}

/* Bagian fakultas2 */
.navbar .logo2 {
  color: gray;
}

.navbar .logo2:hover {
  color: red;
}

.navbar-nav .nav-item .bortom2:hover {
  border-bottom: 2px solid red;
}

.form-inline .login2:hover {
  background-color: red;
}

.jumbotron .prodi2:hover {
  background-color: red;
}

.card-body .prodi2:hover {
  background-color: red;
}

/* Bagian fakultas3 */
.navbar .logo3 {
  color: gray;
}

.navbar .logo3:hover {
  color: #7bdcb5;
}

.form-inline .prodi3:hover {
  background-color: #7bdcb5;
}

.navbar-nav .nav-item .bortom3:hover {
  border-bottom: 2px solid #7bdcb5;
}

.jumbotron .prodi3:hover {
  background-color: #7bdcb5;
}

.card-body .prodi3:hover {
  background-color: #7bdcb5;
}
